frozen-lockfile=false
auto-install-peers=false
strict-peer-dependencies=false

only-built-dependencies[]=@google/genai
only-built-dependencies[]=@swc/core
only-built-dependencies[]=@turbodocx/html-to-docx
only-built-dependencies[]=esbuild
only-built-dependencies[]=msw
only-built-dependencies[]=protobufjs
only-built-dependencies[]=unrs-resolver
